 
  * {
    box-sizing: border-box;
  }

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 1rem;
  }

  img {
      max-width: 100%;
  }
 
  h1 {
    font-size: 2.027rem;
    font-weight: 500;
    margin: 0;
    margin-top: 2rem;  
  }

  h2 {
    font-size: 1.802rem;
    text-align: center;

  }
  h3 {
    text-transform: uppercase;
    font-size: 1.266rem;
    margin: 0;
    margin-top: 1rem;
    font-weight: 750;
  }

  .wrapper{
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
  } 



  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li{
      padding-left: 1em;
  }
  
  nav ul a:link {
      color: black;
      text-transform: uppercase;
      text-decoration: none;
    } 


 

    
    img.box {
      border-radius: 10px;
    }
  
    .picture{
      margin: 0 auto;
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);;
      grid-template-rows: repeat(4, 1fr);;
      grid-template-areas: 
      "box1 box1 box1"
      "box1 box1 box1"
      "box1 box1 box1"
      "box2 box3 box4"
      ;

      gap: 1.5em;
    }
  
    .picture .box:nth-child(1) {
      grid-area: box1;
    }
  
    .picture .box:nth-child(2) {
      grid-area: box2;
    }
    .picture .box:nth-child(3) {
      grid-area: box3;
    }
    .picture .box:nth-child(4) {
      grid-area: box4;
    }
  
    @media (min-width:768px){
    
      .picture{
        grid-template-columns: repeat(2, 1fr);;
        grid-template-rows: repeat(2, 1fr);;
        grid-template-areas: 
        "box1 box2"
        "box3 box4"
        ;
      }
    }

    @media (min-width:960px){
  
      .collage {
       display: flex;
       max-width: 1200px;
       align-items: flex-start;
       justify-content: center;
       margin: 0 auto;
       
      }
    }



  
    #sweet-affair {
      padding: 2em;
      margin: 0 auto;
      max-width: 1200px;
    }
  
  #sweet-affair a:link,
  #sweet-affair a:link {
    background-color: black;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: auto;
    padding: .5em 1em;

  }

  #sweet-affair h1 {
    margin:0;
    padding: 0;
    }






    /* Add to Cart Button */
  .btn {
    
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
    font-weight: 700;
    padding: 9px 20px;
    border-width: 0;
}

.btn:hover {
    background-color: #f8fafc;
    color: #222;
    box-shadow: 1px 1px 5px #000;
}
  





/* Behind the Dough Section */

   .behind-the-dough{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em;
    background-color: #fafafa;
  }
  
  .behind-the-dough h2{
    text-align: center;
  }


  @media (min-width:768px){
  

    .the-scoop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      gap: 2em;
    }
  }

  @media (min-width:960px){
  
  
  
    .behind-the-dough {
     max-width: max-content;
   
    }
  }


  /* Quotes/What peeps say Section */
  
  .what-peeps-say {
    margin: 0 auto;
    max-width: 1200px;
    background-color: black;
    color: #fff;
    padding: 2em;
  }
  
  .what-peeps-say h2 {
    text-align: center;
    padding-bottom: 1em;
  }
  
  .what-peeps-say p:nth-child(2) {
    font-style: italic;
    padding-bottom: 4em;
  }
  
  .what-peeps-say p:nth-child(4) {
    font-style: italic;
    padding-bottom: 4em;
  }
  
  .what-peeps-say p:nth-child(6) {
    font-style: italic;
  }

  @media (min-width:768px){
    .quotes {
      display: flex;
      justify-content: space-between;
      gap: 2em;
    }
  }

    
@media (min-width:960px){
  
  .what-peeps-say {
   max-width: max-content;
  }


  }


/* Try it with Section */

  
  .try-it-with {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em;
  }
  
  .try-it-with h2 {
    text-align: center;
  }


  .try-it-with div article:hover {
    background-color: #222;
    color: #fff;
}
  
  .try-out {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    grid-template-rows: repeat(2, 1fr);;
    gap: 1em;
    text-align: center;

  }
  
 .try-out article {
    background-color: #fafafa;
    border-radius: 10px;

  }

    
  @media (min-width:768px){
    
    .try-out {
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr;
   }
 }

  /* curved boxes */
  article img {
    border-radius: 10px 10px 0 0;
  }
  

  footer {
    background-color: black;
    color: #fff;
    padding: 0.5em;
    text-align: center;
  }
  




  
  
  
    









































































































































